body {
    background: fotos/fondo.png; 
}

#audio {
    width: 200px;
    height:200px;
    background-color: red;
    margin: auto;
    border-radius: 100px;
    box-shadow: 4px 4px 6px #777;
    border: 1px solid black;
}

#bien{
    margin-left: 33%;
}

#mal{
    margin-left: 33%;

}

#contenedor {
    width: 100%;
    height: 200px;
    margin-top: 280px;
}

#imagenes{
    height: 200px;
    width: 845px;
    margin: auto;
    margin-top: 40px;
}

#gallo {
    background-image: url('fotos/gallo.jpg');
    width: 200px;
    height: 200px;
    float:left;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #777;
}

#vaca {
    background-image: url('fotos/vaca.jpg');
    width: 200px;
    height: 200px;
    float:left;    
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #777;
}

#cerdo {
    background-image: url('fotos/cerdo.jpg');
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #777;
}

#oveja {
    background-image: url('fotos/oveja.jpg');
    width: 200px;
    height: 200px;
    float:left;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #777;
       
}






